NODE_ENV=
AUTH_PORT=4001
MAILING_PORT=4002
MAILING_TCP_PORT=4003

DB_HOSTNAME_TO_USE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOSTNAME_TO_USE}:5432/${POSTGRES_DB}?connect_timeout=300

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY_MS=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY_MS=